<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.select :origin, Airport.list(:order => "country, state, code"), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<%
grouped_options = [
  ['Group 1',
    ["Item 1", "Item 2", "Item 3"]],
  ['Group 2',
    ["Item 1", "Item 2", "Item 3", "Item 4"]]
]%>
<%= f.select :destination, grouped_options_for_select(grouped_options)%>
<% end %>
<hr/>Go:<br/>
    <%
      @airports = Airport.all

      #@airports.group_by{|ap| ap.country}.each do |c,airport|
      @airports.each do |a|
    %>
    <%= "Name: #{a.name}, Country: #{a.country}" %><br/>
    <%
      end
    %>

