<script type="text/javascript">
  $(document).ready(function() {
    $('#flight_time_user').change(function() {
        var t = $(this).val();
        if (t[0] == '0')
          t = t.substr(1);

        var colon = t.indexOf(':');
        var hours = "0";
        var mins  = "0";
        if (colon != -1) //we have an hours value
        {
          hours = t.substr(0,colon);
          if (hours == "")
             hours = "0";

          mins = t.substr((colon+1),2);
          if (mins == "")
            mins = "0";
        }
        var h = parseInt(hours) * 60;
        var m = parseInt(mins) + h
        $('#flight_flight_time').val(m);
    });
  });

</script>
<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.select :origin_airport_id, grouped_options_for_select(airport_list_by_country(:order => "code, state, country_code")), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :destination %><br />
    <%= f.select :destination_airport_id, grouped_options_for_select(airport_list_by_country(:order => "code, state, country_code")), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :departure %><br/>
    <%= f.text_field :departure %>
  </div>
  <div class="field">
    <%= f.label :flight_time %>
    <input type="text" id="flight_time_user" />
    <%= f.hidden_field :flight_time %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br/>
    <%= f.text_field :arrival %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<%end%>